<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="soxy-chains" packages="">
  <Appenders>
    <Console name="COLORFUL" target="SYSTEM_OUT">
      <PatternLayout pattern="%highlight{%d{HH:mm:ss.SSS} %-5level %logger{36}.%M() @%L - %msg%n}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=black, DEBUG=green bold, TRACE=blue}"/>
    </Console>
    <Console name="SOXYCHAINS" target="SYSTEM_OUT">
      <PatternLayout pattern="%highlight{%d{HH:mm:ss.SSS} %-5level %logger{36}.%M() @%L - %msg%n}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=blue bold, DEBUG=green bold, TRACE=blue}"/>
    </Console>
    <!--
    <File name="MyFile" fileName="/tmp/docker-lambda.log">
      <PatternLayout pattern="%highlight{%d{HH:mm:ss.SSS} %-5level %logger{36}.%M() @%L - %msg%n}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=black, DEBUG=green bold, TRACE=blue}"/>
    </File>
    -->
  </Appenders>
  <Loggers>
    <Logger name="com.github.yassine" level="debug" additivity="false">
      <AppenderRef ref="SOXYCHAINS"/>
      <!--
      <AppenderRef ref="MyFile"/>
      -->
    </Logger>
    <Logger name="org.apache.camel" level="info" additivity="false">
      <AppenderRef ref="COLORFUL"/>
    </Logger>
    <Logger name="org.nmap4j" level="info" additivity="false">
      <AppenderRef ref="COLORFUL"/>
    </Logger>
    <Root level="INFO">
      <AppenderRef ref="COLORFUL"/>
    </Root>
  </Loggers>
</Configuration>