{
  "ports":{
    "http"     : ${config.servicePort?c},
    "dns"      : 8600,
    "https"    : -1
  },
  "log_level"   : "info",
  "bind_addr"   : "0.0.0.0",
  "bootstrap"   : true,
  "data_dir"    : "/data/consul",
  "ui"          : true,
  "server"      : true,
  "client_addr" : "0.0.0.0",
  "enable_script_checks": true
}